@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background: url(https://cdn.pixabay.com/photo/2018/05/14/16/54/cyber-3400789_1280.jpg);
    background-position: center;
    background-size: cover;
}

.container-description-contact{
    width: 600px;
    height: 70%;
    color: white;
}

.container-description-contact h2{
    font-family: 'Orbitron';
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 50px;
}
.container-description-contact p {
    font-size: 1.2rem;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.336);
    border: 2px solid rgb(29, 255, 236);
    box-shadow: 0px 0px 11px 0px rgb(29, 255, 236); 
    width: 300px;
    padding: 40px
}

input{
    padding: 7px;
    margin-bottom: 40px;
    width: 300px;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
    transition: .3s linear;
}
input:focus{
    outline: none;
    border-bottom: 2px solid rgb(29, 255, 236);
}

textarea{
    resize: vertical;
    padding: 7px;
    width: 300px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 40px;
    transition: .3s linear;
}
textarea:focus{
    outline: none;
    border: 2px solid rgb(29, 255, 236);
}

button{
    height: 30px;
    width: 315px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    background: linear-gradient(to top, rgb(102, 102, 102), rgb(133, 133, 133));
    border-radius: 10px;
    border: none;
    transition: .3s linear;
}
button:hover{
    background: linear-gradient(to top, rgb(10, 74, 214), rgb(57, 255, 255));
    box-shadow: 0px 0px 3px 0px rgb(57, 255, 255);
}