@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

#contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: url(https://cdn.leonardo.ai/users/d3b590aa-3195-4754-8a83-79a91161f8b4/generations/101689a5-0ffa-4bb7-aaf6-1b448d7e9116/Leonardo_Phoenix_10_Minimalist_abstract_art_with_a_matte_black_3.jpg);
    background-size: cover;
    color: #857744;
    text-align: center;
}
#contact h2{
    font-family: "Ephesis", cursive;
    font-size: 3rem;
    color: #857744;
}
#contact p{
    color: white;
    margin: 20px;
}

.container-icon-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 40px;
}
.container-icon-contact a i{
    font-size: 2.5rem;
    color: white;
    transition: .4s linear;
    margin-right: 20px;
    padding: 10px;
    border-radius: 70%;
}
.container-icon-contact a i:hover{
    background-color: #857744;
}