@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

#home{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;
    box-shadow: 0px 0px 20px 0px black;
}
#home .backgraoud-section{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

#home .backgraoud-section video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
video{
    filter: opacity(50%);
}

nav{
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.589);
    z-index: 1;
}
nav #logo img{
    height: 50px;
    margin: 10px;
}

.nav-links ul{
    display: flex;
    list-style: none;
}
.nav-links ul li{
    margin-right: 50px;
    font-size: 1.3rem;
}
.nav-links ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 2px;
    font-family: 'Orbitron', sans-serif;
    transition: .2s linear;
}
.nav-links ul li a:hover{
    font-size: 1.4rem;
}
.container-menu-hamburger{
    font-size: 40px;
    display: none;
}
.container-menu-hamburger i {
    cursor: pointer;
}

.container-box-vazia{
    margin-right: 20px;
    width: 80PX;
}

/******OPEN-MENU*******/

.container-menu-open{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    background: linear-gradient(45deg, rgba(35, 13, 94, 0.932), rgba(10, 247, 255, 0.856));
    overflow: hidden;
    transition: .3s ease-in-out;
}
.container-menu-open ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-menu-open ul li{
    margin-top: 20px;
    font-size: 1.7rem;
    cursor: pointer;
}
.container-menu-open a{
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    color: black;
    transition: .2s linear;
}
.container-menu-open a:hover{
    color: rgb(250, 215, 244);
}
.container-close-menu{
    position: absolute;
    right: 45px;
    top: 8px;
    font-size: 45px;
    cursor: pointer;
}
.container-close-menu i{
    transition: .2s linear;
}
.container-close-menu i:hover{
    color: white;
    font-size: 48px;
}



.container-text-blocks{
    position: relative ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-text{
    margin-top: 125px;
}
.container-text p{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    color: white;
}

.container-text .name{
    font-size: 3rem;
    font-weight: 700;
}

.container-binarios{
    background-color: rgba(0, 0, 0, 0.295);
    color: white;
    margin: 20px 100px;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
}

.container-binarios .binario{
    font-size: 0.6rem;
}
.container-binarios .result-binario{
    margin-top: 10px;
}

.container-icons-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 200px;
    height: 30px;
}

.container-icons-contact a{
    font-size: 1.9rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: .3s linear;
}
.container-icons-contact a:hover{
    font-size: 2rem;
    color: rgb(0, 140, 255);
    margin-bottom: 10px;
}
.container-icons-contact a:not(:last-child){
    margin-right: 20px;
}

.container-next-page-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.616);
    color: black;
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    margin-top: 40px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.container-next-page-bottom i{
    font-weight: bolder;
    font-size: 1.7rem;
}
.container-next-page-bottom:hover{
    background: linear-gradient(-43deg, rgba(31, 0, 209, 0.712),rgba(33, 223, 197, 0.671));
    border: 1px solid black;
}

@media screen and (max-width: 900px){
    #home{
        height: 100%;
        padding-bottom: 60px;
    }
    
    .nav-links{
        display: none;
    }
    .container-menu-hamburger{
        display: block;
        margin-right: 40px;
    }
    .container-box-vazia{
        display: none;
    }

    .container-text{
        margin: 125px 30px 0px 30px;
    }
}

@media screen and (max-width: 750px){
    .container-text p{
        font-size: 1.5rem;
    }
    .container-text .name{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 500px) {
    .container-menu-open ul li{
        margin-bottom: 70px;
    }
    
    .container-menu-open a{
        font-size: 2.3rem;
    }
    .container-binarios{
        margin: 20px 50px;
    }
}