@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

section{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;
}
section .backgraoud-section{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

section .backgraoud-section video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
video{
    filter: opacity(50%);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.589);
    position: fixed;
    position: relative;
}
nav #logo img{
    height: 50px;
    margin: 10px;
}

.nav-links ul{
    display: flex;
    list-style: none;
}
.nav-links ul li{
    margin-right: 50px;
}
.nav-links ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 2px;
    transition: .2s linear;
}
.nav-links ul li a:hover{
    border-bottom: 2px solid hwb(241 0% 37%);
}

.hora-container{
    margin-right: 20px;
}

.container-text-blocks{
    position: relative ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-text{
    margin-top: 125px;
}
.container-text p{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    color: white;
}

.container-text .name{
    font-size: 3rem;
    font-weight: 700;
}

.container-binarios{
    background-color: rgba(0, 0, 0, 0.295);
    color: white;
    margin: 20px 100px;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
}

.container-binarios .binario{
    font-size: 0.6rem;
}
.container-binarios .result-binario{
    margin-top: 10px;
}