@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}


#project{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(https://cdn.leonardo.ai/users/d3b590aa-3195-4754-8a83-79a91161f8b4/generations/ae42923e-346d-4a95-a00e-d2ff9219d322/segments/2:4:1/Flux_Dev_A_sleek_professional_graphic_design_3D_render_set_aga_1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container-project{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 500px;

}

.container-project div{
    width: 400px;
    height: 200px;
    border: 1px solid rgb(161, 61, 255);
    box-shadow: 0px 0px 20px rgb(232, 119, 255);
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}