@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
}

#projects{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://img.freepik.com/fotos-gratis/homem-tiro-medio-usando-oculos-vr_23-2149126949.jpg?w=900&t=st=1712885028~exp=1712885628~hmac=a571e73162d5bd24e7af7a16deb533769d03e8c4632447e5384ab637276ce607);
    background-color: black;
    box-shadow: 0px 0px 20px 0px black;
}
.backgraoud-section{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.backgraoud-section video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: opacity(50%);
}
.title-projects{
    margin-top: 60px;
}
.title-projects h2{
    color: white;
    font-family: 'Orbitron', 'sans-serif';
    margin-bottom: 50px;
    font-size: 2.5rem;
    padding: 10px 30px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.87);
}
.container-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.container-projects-itens{
    justify-content: center;
    justify-items: center;
    display: grid;
    width: 100%;
    padding-bottom: 80px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
}
.container-project-iten{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 219px;
    margin-bottom: 50px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.87);
}
.project-iten{
    background-color: rgba(240, 255, 255, 0.404);
    width: 220px;
    height: 130px;
}
.project-descripition{
    width: 200px;
    padding: 10px;
    background-color: rgb(16, 3, 41);
    text-align: center;
}
.project-descripition p{
    font-size: 0.8rem;
    color: rgb(146, 146, 146);
}
.container-buttons-project{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20 0px;
    gap: 1.5rem;
}
.container-buttons-project button{
    padding: 8px;
    width: 75px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-weight: bolder;
    background-color: rgb(225, 192, 255);
    transition: .3s linear;
}

.container-buttons-project button:hover{
    background: linear-gradient(45deg, rgb(0, 157, 168), rgb(14, 63, 221), rgb(255, 0, 170));
    color: white;
}

@media screen and (max-width: 500px){
    #projects{
        background-position: center;
    }
}