@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

#sobre{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: url(https://cdn.leonardo.ai/users/d3b590aa-3195-4754-8a83-79a91161f8b4/generations/9a1e2a6f-1843-491d-be77-b8760663b8e4/segments/1:4:1/Flux_Dev_a_minimalist_and_futuristic_dark_background_with_a_gr_0.jpg);
    background-size: cover;
}

.container-global-about{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 70px;
    margin-left: 30px;
    color: white;
    width: 90%;
    height: 50%;
}
.container-global-about h1{
    font-family: "Ephesis", cursive;
    font-size: 5rem;
    color: #857744;
}
.container-text-about{
    margin-top: 10px;
    font-size: 1.4rem;
    width: 900px;
}

.especialidades{
    width: 750px;
    text-align: center;
    margin-left: 120px;
}
.especialidades h2{
    font-family: "Ephesis", cursive;
    font-size: 3rem;
}
.especialidades .container-especialidade-itens{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-especialidade-itens i{
    font-size: 2rem;
}

.especialidades .container-especialidade-itens div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    margin: 10PX;
    padding: 20px;
    width: 300px;
    height: 200px;
    background-color: #857744;
    color: black;
    border-radius: 20px;
    transition: .2s linear;
}
.especialidades .container-especialidade-itens div:hover{
    box-shadow: 0px 0px 5px black;
}
.container-especialidade-itens div h3{
    width: 300px;
    text-align: center;
}

.container-skils{
    border-radius: 20px;
    width: 650px;
    margin-left: -130px;
    padding-left: 280px;
    background-color: rgb(255, 255, 255);
}
.container-skils i{
    font-size: 2.5rem;
    text-align: center;
    color: #000000;
    margin: 5px;
}