@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

#sobre{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background: url(https://cdn.leonardo.ai/users/d3b590aa-3195-4754-8a83-79a91161f8b4/generations/9a1e2a6f-1843-491d-be77-b8760663b8e4/segments/1:4:1/Flux_Dev_a_minimalist_and_futuristic_dark_background_with_a_gr_0.jpg);
    background-size: cover;
}

.container-global-about{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-left: 30px;
    color: white;
    width: 90%;
    height: 50%;
}
.container-global-about h1{
    font-family: "Ephesis", cursive;
    font-size: 5rem;
    color: #857744;
}
.container-text-about{
    margin-top: 10px;
    font-size: 1.4rem;
}

.especialidades{
    height: 100%;
    text-align: center;
}
.especialidades h2{
    font-family: "Ephesis", cursive;
    font-size: 3rem;
}
.especialidades .container-especialidade-itens{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 0;
}

.container-especialidade-itens i{
    font-size: 2rem;
}

.especialidades .container-especialidade-itens div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    margin: 10PX;
    padding: 20px;
    flex: 1 1 250px;
    max-width: 300px;
    min-width: 200px;
    height: 200px;
    background-color: #857744;
    color: black;
    border-radius: 20px;
    transition: .2s linear;
}
.especialidades .container-especialidade-itens div:hover{
    box-shadow: 0px 0px 5px black;
}
.container-especialidade-itens div h3{
    text-align: center;
}

.container-skils{
    border-radius: 20px;
    width: 50%;
    margin-left: -35px;
    padding: 10px 20px 10px 50px;
    margin-bottom: 40px;
    background-color: white
}
.container-skils i{
    font-size: 2.5rem;
    text-align: center;
    color: #000000;
    margin: 5px;
}

/* RESPONSIVIDADE */

@media (max-width: 1570px){
    .container-global-about{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .container-text-about{
        width: 100%;
    }
    .especialidades{
            margin: 0;
            margin-top: 60px;
    }
    .container-especialidade-itens{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}

@media (max-width: 830px){
    .especialidades{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .container-especialidade-itens{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: aquamarine;
        width: 100vw;
    }
    .especialidades .container-especialidade-itens div{
        max-width: 250px;
        min-width: 150px;
        height: 200px;
    }
}